[Desktop Entry]
Name=YAPYAP
Comment=Play this game on Steam
Exec=steam steam://rungameid/3834090
Icon=steam_icon_3834090
Terminal=false
Type=Application
Categories=Game;
